.App {
  text-align: center;
  font-family: Makenzi;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 50px;
  color: #282c34;
}

.form {
  background-color: rgb(52, 137, 212);
  border-radius: 10px;
  border: 2px solid lightblue;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

input,
button {
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  cursor: pointer;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: rgb(125, 97, 92);
  color: white;
}

button:active {
  color: orange;
}

button:hover {
  background-color: lightslategray;
}
